{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    "react-loadable/babel",
    "syntax-dynamic-import",
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    },
    "production": {}
  }
}