{
  "env": {
    "development": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}